<a href="https://colab.research.google.com/github/rymketata/C-/blob/master/XGB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Ia_Werda/train.csv")
print(dataset)

              id        date  store_nbr                      family     sales  \
0              0  2013-01-01          1                  AUTOMOTIVE     0.000
1              1  2013-01-01          1                   BABY CARE     0.000
2              2  2013-01-01          1                      BEAUTY     0.000
3              3  2013-01-01          1                   BEVERAGES     0.000
4              4  2013-01-01          1                       BOOKS     0.000
...          ...         ...        ...                         ...       ...
3000883  3000883  2017-08-15          9                     POULTRY   438.133
3000884  3000884  2017-08-15          9              PREPARED FOODS   154.553
3000885  3000885  2017-08-15          9                     PRODUCE  2419.729
3000886  3000886  2017-08-15          9  SCHOOL AND OFFICE SUPPLIES   121.000
3000887  3000887  2017-08-15          9                     SEAFOOD    16.000

         onpromotion
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
3000883            0
3000884            1
3000885          148
3000886            8
3000887            0

[3000888 rows x 6 columns]

In [ ]:
df_visualization=dataset.copy()

In [ ]:
dataset = dataset[dataset['store_nbr'] == 7]
dataset.drop(columns=['onpromotion','id','store_nbr'], inplace=True)

# Print the filtered DataFrame
print(dataset)

               date                      family     sales
1683     2013-01-01                  AUTOMOTIVE     0.000
1684     2013-01-01                   BABY CARE     0.000
1685     2013-01-01                      BEAUTY     0.000
1686     2013-01-01                   BEVERAGES     0.000
1687     2013-01-01                       BOOKS     0.000
...             ...                         ...       ...
3000817  2017-08-15                     POULTRY   622.673
3000818  2017-08-15              PREPARED FOODS   136.361
3000819  2017-08-15                     PRODUCE  5113.961
3000820  2017-08-15  SCHOOL AND OFFICE SUPPLIES     2.000
3000821  2017-08-15                     SEAFOOD    46.507

[55572 rows x 3 columns]

<ipython-input-5-bfd902cf3fd1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.drop(columns=['onpromotion','id','store_nbr'], inplace=True)

In [ ]:
dataset['date'] = pd.to_datetime(dataset['date'])

In [ ]:
dataset.reset_index(inplace=True)

In [ ]:
dataset['year'] = dataset['date'].dt.year
dataset['month'] = dataset['date'].dt.month
dataset['day'] = dataset['date'].dt.day

In [ ]:
#dataset['log_sales'] = np.log1p(dataset['sales'])

In [ ]:
dataset

,index,date,family,sales,year,month,day
0,1683,2013-01-01,AUTOMOTIVE,0.000,2013,1,1
1,1684,2013-01-01,BABY CARE,0.000,2013,1,1
2,1685,2013-01-01,BEAUTY,0.000,2013,1,1
3,1686,2013-01-01,BEVERAGES,0.000,2013,1,1
4,1687,2013-01-01,BOOKS,0.000,2013,1,1
...,...,...,...,...,...,...,...
55567,3000817,2017-08-15,POULTRY,622.673,2017,8,15
55568,3000818,2017-08-15,PREPARED FOODS,136.361,2017,8,15
55569,3000819,2017-08-15,PRODUCE,5113.961,2017,8,15
55570,3000820,2017-08-15,SCHOOL AND OFFICE SUPPLIES,2.000,2017,8,15
55571,3000821,2017-08-15,SEAFOOD,46.507,2017,8,15

In [ ]:
#X = dataset[['date', 'family']]
#y = dataset['sales']

In [ ]:
#x = dataset.drop(['sales'],axis=1)
#y = dataset['sales']

In [ ]:
#X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [ ]:
#features = ['date', 'family']

In [ ]:
X_train = pd.get_dummies(dataset)
y_train = dataset['sales']

In [ ]:
print(y_train)

0           0.000
1           0.000
2           0.000
3           0.000
4           0.000
           ...
55567     622.673
55568     136.361
55569    5113.961
55570       2.000
55571      46.507
Name: sales, Length: 55572, dtype: float64

In [ ]:
X_train.shape

(55572, 39)

In [ ]:

y_train.shape

(55572,)

In [ ]:
X_train = X_train.dropna()

In [ ]:
X_train.shape

(55572, 39)

In [ ]:



y_train = y_train[X_train.index]
#X_test = pd.get_dummies(test[features])

In [ ]:
print(y_train)

0           0.000
1           0.000
2           0.000
3           0.000
4           0.000
           ...
55567     622.673
55568     136.361
55569    5113.961
55570       2.000
55571      46.507
Name: sales, Length: 55572, dtype: float64

In [ ]:
y_train.shape

(55572,)

In [ ]:
X_train.columns

Index(['index', 'date', 'sales', 'year', 'month', 'day', 'family_AUTOMOTIVE',
       'family_BABY CARE', 'family_BEAUTY', 'family_BEVERAGES', 'family_BOOKS',
       'family_BREAD/BAKERY', 'family_CELEBRATION', 'family_CLEANING',
       'family_DAIRY', 'family_DELI', 'family_EGGS', 'family_FROZEN FOODS',
       'family_GROCERY I', 'family_GROCERY II', 'family_HARDWARE',
       'family_HOME AND KITCHEN I', 'family_HOME AND KITCHEN II',
       'family_HOME APPLIANCES', 'family_HOME CARE', 'family_LADIESWEAR',
       'family_LAWN AND GARDEN', 'family_LINGERIE', 'family_LIQUOR,WINE,BEER',
       'family_MAGAZINES', 'family_MEATS', 'family_PERSONAL CARE',
       'family_PET SUPPLIES', 'family_PLAYERS AND ELECTRONICS',
       'family_POULTRY', 'family_PREPARED FOODS', 'family_PRODUCE',
       'family_SCHOOL AND OFFICE SUPPLIES', 'family_SEAFOOD'],
      dtype='object')

In [ ]:
X_train.drop('date',axis=1,inplace=True)
X_train.drop('index',axis=1,inplace=True)
X_train.drop('sales',axis=1,inplace=True)

In [ ]:
X_train.columns

Index(['year', 'month', 'day', 'family_AUTOMOTIVE', 'family_BABY CARE',
       'family_BEAUTY', 'family_BEVERAGES', 'family_BOOKS',
       'family_BREAD/BAKERY', 'family_CELEBRATION', 'family_CLEANING',
       'family_DAIRY', 'family_DELI', 'family_EGGS', 'family_FROZEN FOODS',
       'family_GROCERY I', 'family_GROCERY II', 'family_HARDWARE',
       'family_HOME AND KITCHEN I', 'family_HOME AND KITCHEN II',
       'family_HOME APPLIANCES', 'family_HOME CARE', 'family_LADIESWEAR',
       'family_LAWN AND GARDEN', 'family_LINGERIE', 'family_LIQUOR,WINE,BEER',
       'family_MAGAZINES', 'family_MEATS', 'family_PERSONAL CARE',
       'family_PET SUPPLIES', 'family_PLAYERS AND ELECTRONICS',
       'family_POULTRY', 'family_PREPARED FOODS', 'family_PRODUCE',
       'family_SCHOOL AND OFFICE SUPPLIES', 'family_SEAFOOD'],
      dtype='object')

In [ ]:
X_train.shape

(55572, 36)

In [ ]:
y_train.shape

(55572,)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X_train,y_train, test_size = 0.2, random_state=42)

In [ ]:
print(y_train)

0           0.000
1           0.000
2           0.000
3           0.000
4           0.000
           ...
55567     622.673
55568     136.361
55569    5113.961
55570       2.000
55571      46.507
Name: sales, Length: 55572, dtype: float64

In [ ]:
X_test

,year,month,day,family_AUTOMOTIVE,family_BABY CARE,family_BEAUTY,family_BEVERAGES,family_BOOKS,family_BREAD/BAKERY,family_CELEBRATION,...,family_MAGAZINES,family_MEATS,family_PERSONAL CARE,family_PET SUPPLIES,family_PLAYERS AND ELECTRONICS,family_POULTRY,family_PREPARED FOODS,family_PRODUCE,family_SCHOOL AND OFFICE SUPPLIES,family_SEAFOOD
8500,2013,9,15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12064,2014,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48972,2017,1,28,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49587,2017,2,15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37965,2016,2,28,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24925,2015,1,28,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24106,2015,1,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42697,2016,7,20,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
47750,2016,12,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12847,2014,1,26,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Y_test

8500       0.000
12064     12.000
48972      3.000
49587      2.000
37965     15.000
          ...
24925    278.000
24106     12.000
42697    580.357
47750     22.839
12847    304.000
Name: sales, Length: 11115, dtype: float64

In [ ]:

#from sklearn.model_selection import train_test_split

#X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, shuffle=False)

In [ ]:
# Convertir la colonne 'date' en format datetime
#X_train['date'] = pd.to_datetime(X_train['date'], errors='coerce')
#X_test['date'] = pd.to_datetime(X_test['date'], errors='coerce')

# **Linear Regression**

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()
lr.fit(X_train,Y_train)
Y_pred = lr.predict(X_test)

squared_log_errors = (np.log1p(Y_pred) - np.log1p(Y_test)) ** 2
mean_squared_log_error = np.mean(squared_log_errors)
rmsle = np.sqrt(mean_squared_log_error)
print("RMSLE:", rmsle)

RMSLE: 2.1429922606566336

<ipython-input-59-4d4ecb74359a>:5: RuntimeWarning: invalid value encountered in log1p
  squared_log_errors = (np.log1p(Y_pred) - np.log1p(Y_test)) ** 2

In [ ]:
Y_pred

array([-137.43945312, -133.59765625,  138.921875  , ...,  728.40039062,
        249.06835938,  119.171875  ])

In [ ]:
Y_test

8500       0.000
12064     12.000
48972      3.000
49587      2.000
37965     15.000
          ...
24925    278.000
24106     12.000
42697    580.357
47750     22.839
12847    304.000
Name: sales, Length: 11115, dtype: float64

# **XGB**

In [ ]:
import xgboost as xgb

In [ ]:
xg_reg = xgb.XGBRegressor(n_estimators = 300, max_depth = 9)
xg_reg.fit(X_train,Y_train)
Y_pred = xg_reg.predict(X_test)

squared_log_errors = (np.log1p(Y_pred) - np.log1p(Y_test)) ** 2
mean_squared_log_error = np.mean(squared_log_errors)
rmsle = np.sqrt(mean_squared_log_error)
print("RMSLE:", rmsle)

RMSLE: 1.1205423254551936

<ipython-input-29-84a177facd60>:5: RuntimeWarning: invalid value encountered in log1p
  squared_log_errors = (np.log1p(Y_pred) - np.log1p(Y_test)) ** 2

In [ ]:
Y_pred

array([ -4.52161 ,  21.383842,   9.517632, ..., 585.17316 ,  25.679665,
       291.58267 ], dtype=float32)

In [ ]:
Y_test

8500       0.000
12064     12.000
48972      3.000
49587      2.000
37965     15.000
          ...
24925    278.000
24106     12.000
42697    580.357
47750     22.839
12847    304.000
Name: sales, Length: 11115, dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(Y_test, Y_pred))

80.5631051662179

In [ ]:
mae_log = np.mean(np.abs(np.log1p(Y_pred) - np.log1p(Y_test)))
print(mae_log)

0.6701857471557439

<ipython-input-44-ba4b49411d37>:1: RuntimeWarning: invalid value encountered in log1p
  mae_log = np.mean(np.abs(np.log1p(Y_pred) - np.log1p(Y_test)))

In [ ]:
def return_rmse(test,predicted):
  rmse = math.sqrt(mean_squared_error(test, predicted))
  print("The root mean squared error is {}".format(rmse))

In [ ]:
import math
from sklearn.metrics import mean_squared_error

In [ ]:
return_rmse(Y_test,Y_pred)

The root mean squared error is 253.4605253051679

# **GradientBoostingRegressor**

In [ ]:
model = GradientBoostingRegressor(n_estimators=300, random_state=42)
model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

squared_log_errors = (np.log1p(Y_pred) - np.log1p(Y_test)) ** 2
mean_squared_log_error = np.mean(squared_log_errors)
rmsle = np.sqrt(mean_squared_log_error)
print("RMSLE:", rmsle)

RMSLE: 1.4930092937775548

<ipython-input-66-99e0cc6d83d5>:6: RuntimeWarning: invalid value encountered in log1p
  squared_log_errors = (np.log1p(Y_pred) - np.log1p(Y_test)) ** 2

In [ ]:
Y_pred

array([ 13.70273969,  13.88610898,  43.31976854, ..., 684.45276388,
        64.08785931, 273.47365658])

In [ ]:
Y_test

8500       0.000
12064     12.000
48972      3.000
49587      2.000
37965     15.000
          ...
24925    278.000
24106     12.000
42697    580.357
47750     22.839
12847    304.000
Name: sales, Length: 11115, dtype: float64